*{
    padding: 0px;
    margin: 0px;
}

body {  
    font-family: 'Times New Roman', Times, serif;  
    margin: 0;  
    padding: 0;  
}  
#new{
    font-size: 50px;
    color: yellow;
}

#hy{
    font-size: 30px;
}
#will {
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
h1 {  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    margin: 0;  

}  

nav {  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    display: flex;  
    justify-content: end;  
    height: 80px;  
    background-color: #f0f0f0;  
    padding: 0 20px;  
}  

.texte {  
    position: relative;  
}  

img {  
    max-width: 70%;  
    max-height: 100%;  
    margin: 20px 0;  
    display: block;  
}  

.texteadroite{  
    color: #e2e1e7;
    background-color: #11032c;
    position: absolute;  
    top: 0;  
    right: 0;  
    
}  

.hello {  
    position: absolute;  
    top: 0;  
    right: 0;  
    position: relative; 
    margin-left: 500px;
   margin-top: -20px;
   background-color: #e70c0c;
   

}  

.bouton { 
    color: #e2e1e7;
  background-color: #e70c0c;
    padding: 2em 2em 2em;  
    background-color: #e2e1e7;  
    position: absolute;  
    left: 50%;  
    top: 30; } 
    

.text {  
    position: relative;  
    margin-left: 450px;
   margin-top: -10px;
}  

.the{
    font-size: 50px;
}

.image1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .more-news div {
    padding: 1rem;}


    #container {
        background-color: pink;
        padding: 16px;
        display: grid;
        gap: 15px;
        height: 100vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
      }
      .child {
        background-color: lightblue;
      }
      .child-x1 {
        background-color: orange;
        grid-column: span 2;
      }
      .child-x4 {
        background-color: orange;
        grid-column: span 2;
        grid-row: span 2;
      
      }

      
    
 